.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  background-color: #f8f9fa;
}

.home h1 {
  font-size: 2.5rem;
  color: #343a40;
}

.home p {
  font-size: 1.2rem;
  color: #6c757d;
}

.menu-button {
  background-color: #6c757d;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
}

.menu-button:hover {
  background-color: #5a6268;
}
